.footer{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    /* margin-top: 30px; */
}
.footer-logo{
    font-family: 'Lobster', sans-serif;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 25px 0;
}
.footer-logo img{
    width: 70px;
    border-radius: 20px;
}
.footer-logo p{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.footer-links{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-links li:hover{
    transform: scale(1.1);
    transition: .5s;
}
.footer-icon i{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 15px;
    margin-top: 0;
    border: 2px solid white;
    border-radius: 10px;
}
.footer-icon i:hover{
    transform: scale(1.1);
    transition: .5s;
}
.footer-copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
}