.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #2a2a2a;
    color: white;
}
.nav-logo{
    font-family: 'Lobster', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    border-radius: 20px;
    width: 70px;
    cursor: pointer;
}
.nav-logo p{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.nav-menu{
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px;
    border-radius: 30px;
}
.nav-menu li{
    padding: 15px 20px;
    cursor: pointer;
    transition: .5s;
    color: white;
}
.nav-menu li.active{
    background-color: rgba(255, 255, 255, 0.10);
    padding: 15px 20px;
    border-radius: 30px;
}
.nav-menu li:hover{
    transform: scale(1.1);
}
.nav-end{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-end button{
    font-family: 'Lobster', sans-serif;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #515151;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
}
.nav-end button:hover{
    background-color: #aaa;
}
.nav-end i{
    font-size: 25px;
    cursor: pointer;
}
.nav-end .cart-count{
    background-color: red;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -28px;
    margin-left: -50px;
    font-size: 12px;
    z-index: 999;
}
.nav-end i:hover{
    transform: scale(1.2);
    transition: .5s;
}
a:hover{
    cursor: pointer;
    color: blue !important;
}
a{
    text-decoration: none;
    color: #ffff;
}
.status{
    display: block;
}
